<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Guia perguntas</title>
</head>
<body>
  <h1>Bem vindo a outro arquivo html!</h1>
  
  
</body>
</html>